.button-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  flex: 1;
  margin: 0 4px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.edit-button {
  background-color: #007bff;
  color: black;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: black;
}

.delete-button:hover {
  background-color: #b02a37;
}

.button-actions {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  color: #0070f3;
}

.success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.popup {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.popup button:first-child {
  background-color: #e74c3c;
  color: white;
}

.popup button:last-child {
  background-color: #95a5a6;
  color: white;
}

.popup button:hover {
  opacity: 0.8;
}
